* {
	font-font-family: sans-serif;
}

div {
	brder: 1px solid blue
}
body {
	margin:0px;
	background-color:#fbecec;
}
.header {
	display: flex;
	background-color: #000007;
	color: #FFFFFF;	
	position: sticky;
	top: 0rem;
	left: 0rem;
	width: 100%;
}
.Header-logo-1 {
	margin: 0.2rem;
	padding: 7px;
	font-size: 1.0rem;
	font-weight: 300;
}
.Header-logo-1:hover {
	cursor: pointer;
	background-color: #5c96ed;
}
.news-headline-container {
	display: grid;
	grid-template-columns: 380px 00px 00px;
	grid-gap: 1rem;
	padding: 2px;
	width: 100%;
}
.news-headline {
	margin-top: 15px;
	background-color:#ffffff;
	padding: 0.5rem;
	padding-right: 0rem;
}
.news-item {
	margin: 1rem;
}
.news-headline2 {
	margin-top: 0px;
}
.s head {
	margin-top
}
.footer-container {
	display: grid;
	grid-template-columns: 200px 100px 100px 100px;
	grid-gap: 2rem;
	background-color: #231e6e;
	color: #FFFFFF;
	height: 50%;
	width: 100%;
}
.footer-heading {
	color: #000000;
	margin: 1rem;
	border: 0rem;
}
.footer-item {
	color: #FFFFFF;
	margin-left: 1rem;
	margin: 1rem;
	padding: 0rem;
	font-size: 10pt;
	font-weight: 100;
}